<script>

    $(document).ready(function () {

    })

    $('#btnSaveFoodOrderLineItem').click(function () {
        var productId = $('#selectProduct').val();
        var productName = $('#selectProduct option:selected').html();
        var productCode = $('#selectProductCode option:selected').html();
        var quantity = $('#txtQuantity').val();
        var unitPrice = $('#selectProductPrice option:selected').html();
        var orderId = $('#txtOrderId').val();
        var subPrice = unitPrice * quantity;

        saveData(orderId, productId, quantity);
        appendDataToHTMLTable(productId, productName, productCode, quantity, unitPrice, subPrice);

    });

    $('#selectProduct').change(function () {
        var productId = $('#selectProduct').val();
        $('#selectProductCode').val(productId);
        $('#selectProductPrice').val(productId);
    })

    $('#selectProductCode').change(function () {
        var productId = $('#selectProductCode').val();
        $('#selectProduct').val(productId);
        $('#selectProductPrice').val(productId);
    })

    function appendDataToHTMLTable(productId, productName, productCode, quantity, unitPrice, subPrice) {
        $('#tblLineItems tbody').append('<tr><td><input asp-for="" type="text" class="form-control" placeholder="Product Code" value="' + productCode + '" disabled /></td><td><input asp-for="" type="text" class="form-control" placeholder="Product Name" value="' + productName + '" disabled/></td><td><input asp-for="" type="text" class="form-control" placeholder="Quantity" value="' + quantity + '" disabled/></td><td><input asp-for="" type="text" class="form-control" placeholder="Unit Price" value="' + unitPrice + '" disabled/></td><td><input asp-for="" type="text" class="form-control" placeholder="Total Price" value="' + subPrice + '" disabled/></td><td><a class="btn btn-danger" href="#"><i class="fa-solid fa-trash-can fa-fw"></i></a></td></tr>');
    }

    function saveData(orderId, productId, quantity) {
        var foodOrderLineItem = { OrderId: orderId, ProductId: productId, Quantity: quantity };
        console.log(orderId);
        console.log(productId);
        console.log(quantity);
        console.log(foodOrderLineItem);

        $.ajax({
            url: '@Url.Action("Create", "FoodOrderLineItem")', //
            dataType: "json",
            data: foodOrderLineItem,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                console.log(response);
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    }

    function validateFoodOrderLineItem() {
        return true;
    }

</script>