@model RestaurantManagement.Authentication.Models.SignInModel

@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/images/logo.png">
    <title>
        Hotelio
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/material_ui/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/material_ui/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="~/material_ui/css/material-dashboard.css?v=3.0.2" rel="stylesheet" />
</head>

<body class="bg-gray-200">

    <main class="main-content  mt-0">
        <div class="page-header align-items-start min-vh-100">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-12 mx-auto">
                        <div class="card z-index-0 fadeIn3 fadeInBottom">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                    <img src="~/images/logo.png" style="height: 70px; display: block; margin-left: auto; margin-right: auto; " />
                                    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Hotelio</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- Normal System Login-->
                                <form id="" onsubmit="return LoginValidation()" role="form" class="text-start" asp-action="SignIn" asp-controller="Auth">
                                    <!-- Company Login -->
                                    @*<form id="formLogin" role="form" class="text-start" asp-action="Login" asp-controller="Auth">*@

                                    <div class="col-md-12">
                                        <label class="form-label">Email</label>
                                        <input type="email" name="email" id="txtEmail" class="form-control" asp-for="Email" placeholder="Email">
                                        <span id="lblEmailError" class="text-danger" style="display:none;">This field is mandotary.</span>
                                        <div id="lblEmailError" class="text-danger col-md-12" style="display:none;">
                                            Please Enter Email
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <label class="form-label">Password</label>
                                        <input type="password" name="password" id="txtPassword" class="form-control" asp-for="Password" placeholder="Password">
                                        <span id="lblPasswordError" class="text-danger" style="display:none;">This field is mandotary.</span>
                                        <div id="lblPasswordError" class="text-danger col-md-12" style="display:none;">
                                            Please Enter Password
                                        </div>
                                        <div id="alertContainer" style="height: auto; font-size: 12px;" class="col-md-12">
                                            @Html.Raw(TempData["Alert"])
                                        </div>
                                    </div>
                                    @*<div class="form-check form-switch d-flex align-items-center mb-3">
                                    <input class="form-check-input" type="checkbox" id="rememberMe">
                                    <label class="form-check-label mb-0 ms-2" for="rememberMe">Remember me</label>
                                    </div>*@
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2" asp-action="SignIn" asp-controller="Authentication">Sign In</button>
                                        @*<button type="button" id="btnCompanyLogin" class="btn bg-gradient-primary w-100 my-4 mb-2">Company Login</button>*@
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer position-absolute bottom-2 py-2 w-100">
                <div class="container">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-12 col-md-6 my-auto">
                            <div class="copyright text-center text-sm text-white text-lg-start">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>,
                                Designed & Developed by <a href="https://brownsgroup.com/">Hasitha Wikramasinghe</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                                <li>
                                    Version 1.0
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
    <!--   Core JS Files   -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/material_ui/js/core/popper.min.js"></script>
    <script src="~/material_ui/js/core/bootstrap.min.js"></script>
    <script src="~/material_ui/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/material_ui/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <script>
        $('#btnCompanyLogin').on('click', function () {
            console.log('working');
            $('#formLogin').submit();
        })
    </script>

    @*<script src="~/js/login-validation.js"></script>*@

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/material_ui/js/material-dashboard.min.js?v=3.0.2"></script>
</body>

</html>

<style type="text/css">
    body {
        background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
        /* Other background properties like size, position, etc. can be added here */
    }

    label {
        color: black;
    }

</style>

