@model List<Fiverr_Sample.Authentication.Models.ApplicationUser>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/Nifty/_Layout.cshtml";
}

<br />

<link rel="stylesheet" href="~/css/styles.css" type="text/css" />

<div id="placeHolder"></div>
<div class="card">
    <div class="card-header">
        <h3>TODO::Content Header Implementation</h3>

        <br>
    </div>


    <div class="card-body">
        <p>TODO::Content Impementation</p>

    </div>

</div>

<style>
    div.container {
        max-width: 1200px
    }

    .dx-button {
        height: 20px;
    }

    /*.fa {
                height: 20px;
                margin-top: -5px;
            }*/

    .fa-edit {
        height: 20px;
        width: 5px;
        margin-top: -7px;
    }
</style>


@section scripts{

    <script>
        $(document).ready(function () {
            $('#tblUsers').DataTable({
                "ordering": false,
                "scrollX": true,
                "lengthChange": true,
                "autoWidth": false,
                //"buttons": ["excel", "pdf"],
            });//.buttons().container().appendTo('#userTbl_wrapper .col-md-6:eq(0)');
            //$('.dataTables_length').addClass('bs-select');
        })
    </script>

}

