@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="generator" content="Hugo 0.87.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="description" content="multi-tenant hotel management system can be use with in multiple hotels in a single server instance">
    <title>Hotelio</title>

    <partial name="Nifty/_styles" />

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~---

    [ REQUIRED ]
    You must include this category in your project.


    [ OPTIONAL ]
    This is an optional plugin. You may choose to include it in your project.


    [ DEMO ]
    Used for demonstration purposes only. This category should NOT be included in your project.


    [ SAMPLE ]
    Here's a sample script that explains how to initialize plugins and/or components: This category should NOT be included in your project.


    Detailed information and more samples can be found in the documentation.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--- -->
</head>

<body class="jumping">

    <!-- PAGE CONTAINER -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="root" class="root mn--max hd--expanded">

        <!-- CONTENTS -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <section id="content" class="content">
            <!--<div class="content__header content__boxed overlapping">
                <div class="content__wrap">-->

                    <!-- Page title and information -->
                    <!--<h1 class="page-title mb-2">Dashboard</h1>
                    <h2 class="h5">Welcome back to the Dashboard.</h2>
                    <p>Scroll down to see quick links and overviews of your Server, To do list<br> Order status or get some Help using Nifty.</p>-->
                    <!-- END : Page title and information -->

                <!--</div>

            </div>-->

            <div class="container-fluid">
                @RenderBody()
            </div>

            <partial name="Nifty/_Footer" />
        </section>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END - CONTENTS -->
        <partial name="Nifty/_TopNavigation" />

        <partial name="Nifty/_MainNavigation" />

    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END - PAGE CONTAINER -->
    <!-- SCROLL TO TOP BUTTON -->
    <div class="scroll-container" style="display: none;">
        <a href="#root" class="scroll-page rounded-circle ratio ratio-1x1" aria-label="Scroll button"></a>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END - SCROLL TO TOP BUTTON -->
    <!-- BOXED LAYOUT : BACKGROUND IMAGES CONTENT [ DEMO ] -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="" class="offcanvas offcanvas-bottom" data-bs-backdrop="false" data-bs-scroll="true" tabindex="-1">
        <div class="offcanvas-body p-4">

            <!-- Content Header -->
            <div class="offcanvas-header border-bottom p-0 pb-3">
                <div>
                    <h4 class="offcanvas-title">Background Images</h4>
                    <span class="text-muted">Add an image to replace the solid background color</span>
                </div>
                <button type="button" class="btn-close btn-lg text-reset shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- End - Content header -->
        </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END - BOXED LAYOUT : BACKGROUND IMAGES CONTENT [ DEMO ] -->
    <!-- SETTINGS CONTAINER [ DEMO ] -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="" class=" offcanvas offcanvas-end rounded-start" tabindex="-1">
        <button style="display: none;" id="" class=" btn btn-sm btn-dark p-2 rounded-0 rounded-start shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#" aria-label="Customization button" aria-controls="">
            <i class="demo-psi-gear fs-1"></i>
        </button>

        <div class="offcanvas-body py-0">
            <div class=" row">
                <div class="col-lg-3 p-4">

                    <h5 class="fw-bold pb-3 mb-2">Layouts</h5>

                    <!-- OPTION : Centered Layout -->
                    <h6 class="mb-2 pb-1">Layouts</h6>
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Fluid Layout</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="radio" name="settingLayouts" autocomplete="off" checked>
                        </div>
                    </div>

                    <!-- OPTION : Boxed layout -->
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Boxed Layout</label>
                        <div class="form-check form-switch">
                            <input id=" class="form-check-input ms-0" type="radio" name="settingLayouts" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Boxed layout with background images -->
                    <div id="" class="opacity-50 d-flex align-items-center pt-1 mb-2">
                        <label class="form-label flex-fill mb-0">Background for boxed</label>
                        <button id="" class="btn btn-icon btn-primary btn-xs" type="button" data-bs-toggle="offcanvas" data-bs-target="#" disabled>
                            <i class="demo-psi-dot-horizontal"></i>
                        </button>
                    </div>

                    <!-- OPTION : Centered Layout -->
                    <div class="d-flex align-items-start pt-1 mb-2">
                        <label class="form-check-label flex-fill text-nowrap" for="">Centered Layout <br><span class="badge bg-danger">New in v.3.0</span></label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="radio" name="settingLayouts" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Transition timing -->
                    <h6 class="mt-4 mb-2 py-1">Transitions</h6>
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <select id="" class="form-select" aria-label="select transition timing">
                            <option value="in-quart">In Quart</option>
                            <option value="out-quart">Out Quart</option>
                            <option value="in-back">In Back</option>
                            <option value="out-back">Out Back</option>
                            <option value="in-out-back" selected="true">In Out Back</option>
                            <option value="steps">Steps</option>
                            <option value="jumping">Jumping</option>
                            <option value="rubber">Rubber</option>
                        </select>
                    </div>

                    <!-- OPTION : Sticky Header -->
                    <h6 class="mt-4 mb-2 py-1">Header</h6>
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Sticky header</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="checkbox" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Additional Offcanvas -->
                    <h6 class="mt-4 mb-2 py-1">Additional Offcanvas <span class="badge bg-danger">New in BS v.5.0</span></h6>
                    <p>Select the offcanvas placement.</p>
                    <div class="text-nowrap">
                        <button type="button" class="btn btn-sm btn-primary" value="offcanvas-top">Top</button>
                        <button type="button" class="btn btn-sm btn-primary" value="offcanvas-end">Right</button>
                        <button type="button" class="btn btn-sm btn-primary" value="offcanvas-bottom">Btm</button>
                        <button type="button" class="btn btn-sm btn-primary" value="offcanvas-start">Left</button>
                    </div>

                </div>
                <div class="col-lg-3 p-4 bg-gray-300">

                    <h5 class="fw-bold pb-3 mb-2">Sidebars</h5>

                    <!-- OPTION : Sticky Navigation -->
                    <h6 class="mb-2 pb-1">Navigation</h6>
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Sticky navigation</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="checkbox" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Navigation Profile Widget -->
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Widget Profile</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="checkbox" autocomplete="off" checked>
                        </div>
                    </div>

                    <!-- OPTION : Mini navigation mode -->
                    <div class="d-flex align-items-center pt-3 mb-2">
                        <label class="form-check-label flex-fill" for="">Min / Collapsed Mode</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="radio" name="navigation-mode" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Maxi navigation mode -->
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Max / Expanded Mode</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="radio" name="navigation-mode" autocomplete="off" checked>
                        </div>
                    </div>

                    <!-- OPTION : Push navigation mode -->
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Push Mode</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="radio" name="navigation-mode" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Slide on top navigation mode -->
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Slide on top (default)</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="radio" name="navigation-mode" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Slide on top navigation mode -->
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Reveal Mode</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="radio" name="navigation-mode" autocomplete="off">
                        </div>
                    </div>

                    <h6 class="mt-4 mb-2 py-1">Right sidebar</h6>

                    <!-- OPTION : Disable sidebar backdrop -->
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Disable backdrop</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="checkbox" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Static position -->
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Static position</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="checkbox" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Stuck sidebar -->
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Stuck Sidebar </label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="checkbox" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Unite Sidebar -->
                    <div class="d-flex align-items-center pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Unite Sidebar</label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="checkbox" autocomplete="off">
                        </div>
                    </div>

                    <!-- OPTION : Pinned Sidebar -->
                    <div class="d-flex align-items-start pt-1 mb-2">
                        <label class="form-check-label flex-fill" for="">Pinned Sidebar <span class="badge bg-danger">New in v3.0</span></label>
                        <div class="form-check form-switch">
                            <input id="" class="form-check-input ms-0" type="checkbox" autocomplete="off">
                        </div>
                    </div>

                </div>
                <div id="dm_colorSchemesContainer" class="col-lg-6 p-4">
                    <h5 class="fw-bold pb-3 mb-2">Color Schemes</h5>

                    <div class="row mb-3 pb-3">
                        <div class="col-md-6">

                            <div class="d-flex align-items-start position-relative">
                                <div class="flex-shrink-0 me-3">
                                    <div class=" bg-light"></div>
                                </div>
                                <div class="flex-grow-1 ">
                                    <a href="#" data-dir="light" data-single="true" class=" schemes-btn h6 d-block mb-0 stretched-link text-decoration-none">Light</a>
                                    <small class="text-muted">Completely bright color themes.</small>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="d-flex align-items-start position-relative">
                                <div class="flex-shrink-0 me-3">
                                    <div class=" bg-dark"></div>
                                </div>
                                <div class="flex-grow-1 ">
                                    <a href="#" data-dir="dark" data-hd="expanded" class=" schemes-btn h6 d-block mb-0 stretched-link text-decoration-none">Dark</a>
                                    <small class="text-muted">Completely dark color themes.</small>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row text-center my-3">

                        <!-- Expanded Header -->
                        <div class="col-md-4">
                            <h6 class="m-0">Expanded Header</h6>
                            <div class="">

                                <!-- Scheme Button -->
                                <button type="button" class="btn shadow-none">
                                    <img src="~/nifty/img/color-schemes/expanded-header.png" alt="color scheme illusttration" loading="lazy">
                                </button>

                                <!-- Scheme Colors -->
                                <div class="">
                                    <div class="d-flex flex-wrap justify-content-center">
                                        <button class="" type="button" data-dir="all-headers/gray" data-hd="expanded"></button>
                                        <button class=" active" type="button" data-dir="all-headers/navy" data-hd="expanded"></button>
                                        <button class="" type="button" data-dir="all-headers/ocean" data-hd="expanded"></button>
                                        <button class="" type="button" data-dir="all-headers/lime" data-hd="expanded"></button>

                                        <button class="" type="button" data-dir="all-headers/violet" data-hd="expanded"></button>
                                        <button class="" type="button" data-dir="all-headers/orange" data-hd="expanded"></button>
                                        <button class="" type="button" data-dir="all-headers/teal" data-hd="expanded"></button>
                                        <button class="" type="button" data-dir="all-headers/corn" data-hd="expanded"></button>

                                        <button class="" type="button" data-dir="all-headers/cherry" data-hd="expanded"></button>
                                        <button class="" type="button" data-dir="all-headers/coffee" data-hd="expanded"></button>
                                        <button class="" type="button" data-dir="all-headers/pear" data-hd="expanded"></button>
                                        <button class="" type="button" data-dir="all-headers/night" data-hd="expanded"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Fair Header -->
                        <div class="col-md-4">
                            <h6 class="m-0">Fair Header</h6>
                            <div class="">

                                <!-- Scheme Button -->
                                <button type="button" class="btn shadow-none">
                                    <img src="~/nifty/img/color-schemes/fair-header.png" alt="color scheme illusttration" loading="lazy">
                                </button>

                                <!-- Scheme Colors -->
                                <div class="">
                                    <div class="d-flex flex-wrap justify-content-center">
                                        <button class="" type="button" data-dir="all-headers/gray" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="all-headers/ocean" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="all-headers/lime" data-hd="fair"></button>

                                        <button class="" type="button" data-dir="all-headers/violet" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="all-headers/orange" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="all-headers/teal" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="all-headers/corn" data-hd="fair"></button>

                                        <button class="" type="button" data-dir="all-headers/cherry" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="all-headers/coffee" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="all-headers/pear" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="all-headers/night" data-hd="fair"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h6 class="m-0">Full Header</h6>

                            <div class="">

                                <!-- Scheme Button -->
                                <button type="button" class="btn shadow-none">
                                    <img src="~/nifty/img/color-schemes/full-header.png" alt="color scheme illusttration" loading="lazy">
                                </button>

                                <!-- Scheme Colors -->
                                <div class="">
                                    <div class="d-flex flex-wrap justify-content-center">
                                        <button class="" type="button" data-dir="all-headers/gray"></button>
                                        <button class="" type="button" data-dir=""></button>
                                        <button class="" type="button" data-dir="all-headers/ocean"></button>
                                        <button class="" type="button" data-dir="all-headers/lime"></button>

                                        <button class="" type="button" data-dir="all-headers/violet"></button>
                                        <button class="" type="button" data-dir="all-headers/orange"></button>
                                        <button class="" type="button" data-dir="all-headers/teal"></button>
                                        <button class="" type="button" data-dir="all-headers/corn"></button>

                                        <button class="" type="button" data-dir="all-headers/cherry"></button>
                                        <button class="" type="button" data-dir="all-headers/coffee"></button>
                                        <button class="" type="button" data-dir="all-headers/pear"></button>
                                        <button class="" type="button" data-dir="all-headers/night"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center mb-3">
                        <div class="col-md-4">
                            <h6 class="m-0">Primary Nav</h6>

                            <div class="">

                                <!-- Scheme Button -->
                                <button type="button" class="btn shadow-none">
                                    <img src="~/nifty/img/color-schemes/navigation.png" alt="color scheme illusttration" loading="lazy">
                                </button>

                                <!-- Scheme Colors -->
                                <div class="">
                                    <div class="d-flex flex-wrap justify-content-center">
                                        <button class="" type="button" data-dir="primary-nav/gray" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="primary-nav/navy" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="primary-nav/ocean" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="primary-nav/lime" data-hd="fair"></button>

                                        <button class="" type="button" data-dir="primary-nav/violet" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="primary-nav/orange" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="primary-nav/teal" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="primary-nav/corn" data-hd="fair"></button>

                                        <button class="" type="button" data-dir="primary-nav/cherry" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="primary-nav/coffee" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="primary-nav/pear" data-hd="fair"></button>
                                        <button class="" type="button" data-dir="primary-nav/night" data-hd="fair"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h6 class="m-0">Brand</h6>

                            <div class="">

                                <!-- Scheme Button -->
                                <button type="button" class="btn shadow-none">
                                    <img src="~/nifty/img/color-schemes/brand.png" alt="color scheme illusttration" loading="lazy">
                                </button>

                                <!-- Scheme Colors -->
                                <div class="">
                                    <div class="d-flex flex-wrap justify-content-center">
                                        <button class="" type="button" data-dir="brand/gray"></button>
                                        <button class="" type="button" data-dir="brand/navy"></button>
                                        <button class="" type="button" data-dir="brand/ocean"></button>
                                        <button class="" type="button" data-dir="brand/lime"></button>

                                        <button class="" type="button" data-dir="brand/violet"></button>
                                        <button class="" type="button" data-dir="brand/orange"></button>
                                        <button class="" type="button" data-dir="brand/teal"></button>
                                        <button class="" type="button" data-dir="brand/corn"></button>

                                        <button class="" type="button" data-dir="brand/cherry"></button>
                                        <button class="" type="button" data-dir="brand/coffee"></button>
                                        <button class="" type="button" data-dir="brand/pear"></button>
                                        <button class="" type="button" data-dir="brand/night"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h6 class="m-0">Tall Header <span class="badge bg-danger">New in v3.0</span></h6>
                            <div class="">

                                <!-- Scheme Button -->
                                <button type="button" class="btn shadow-none">
                                    <img src="~/nifty/img/color-schemes/tall-header.png" alt="color scheme illusttration" loading="lazy">
                                </button>

                                <!-- Scheme Colors -->
                                <div class="">
                                    <div class="d-flex flex-wrap justify-content-center">
                                        <button class="" type="button" data-dir="all-headers/gray" data-hd="fair,expanded,border"></button>
                                        <button class="" type="button" data-dir="" data-hd="fair,expanded,border"></button>
                                        <button class="" type="button" data-dir="all-headers/ocean" data-hd="fair,expanded,border"></button>
                                        <button class="" type="button" data-dir="all-headers/lime" data-hd="fair,expanded,border"></button>

                                        <button class="" type="button" data-dir="all-headers/violet" data-hd="fair,expanded,border"></button>
                                        <button class="" type="button" data-dir="all-headers/orange" data-hd="fair,expanded,border"></button>
                                        <button class="" type="button" data-dir="all-headers/teal" data-hd="fair,expanded,border"></button>
                                        <button class="" type="button" data-dir="all-headers/corn" data-hd="fair,expanded,border"></button>

                                        <button class="" type="button" data-dir="all-headers/cherry" data-hd="fair,expanded,border"></button>
                                        <button class="" type="button" data-dir="all-headers/coffee" data-hd="fair,expanded,border"></button>
                                        <button class="" type="button" data-dir="all-headers/pear" data-hd="fair,expanded,border"></button>
                                        <button class="" type="button" data-dir="all-headers/night" data-hd="fair,expanded,border"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <h5 class="mt-5 fw-bold">Scrollbars</h5>
                    <p>Hides native scrollbars and creates custom styleable overlay scrollbars.</p>
                    <div class="row">
                        <div class="col-5">

                            <!-- OPTION : Apply the OverlayScrollBar to the body. -->
                            <div class="d-flex align-items-center pt-1 mb-2">
                                <label class="form-check-label flex-fill" for="">Body scrollbar</label>
                                <div class="form-check form-switch">
                                    <input id="" class="form-check-input ms-0" type="checkbox" autocomplete="off">
                                </div>
                            </div>

                            <!-- OPTION : Apply the OverlayScrollBar to content containing class .scrollable-content. -->
                            <div class="d-flex align-items-center pt-1 mb-2">
                                <label class="form-check-label flex-fill" for="">Navigation and Sidebar</label>
                                <div class="form-check form-switch">
                                    <input id="" class="form-check-input ms-0" type="checkbox" autocomplete="off">
                                </div>
                            </div>

                        </div>
                        <div class="col-7">

                            <div class="alert alert-warning" role="alert">
                                Please consider the performance impact of using any scrollbar plugin.
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END - SETTINGS CONTAINER [ DEMO ] -->
    <!-- OFFCANVAS [ DEMO ] -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="" class="offcanvas" tabindex="-1">

        <!-- Offcanvas header -->
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Offcanvas Header</h5>
            <button type="button" class="btn-close btn-lg text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!-- Offcanvas content -->
        <div class="offcanvas-body">
            <h5>Content Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eos nihil earum aliquam quod in dolor, aspernatur obcaecati et at. Dicta, ipsum aut, fugit nam dolore porro non est totam sapiente animi recusandae obcaecati dolorum, rem ullam cumque. Illum quidem reiciendis autem neque excepturi odit est accusantium, facilis provident molestias, dicta obcaecati itaque ducimus fuga iure in distinctio voluptate nesciunt dignissimos rem error a. Expedita officiis nam dolore dolores ea. Soluta repellendus delectus culpa quo. Ea tenetur impedit error quod exercitationem ut ad provident quisquam omnis! Nostrum quasi ex delectus vero, facilis aut recusandae deleniti beatae. Qui velit commodi inventore.</p>
        </div>

    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END - OFFCANVAS [ DEMO ] -->
    <partial name="Nifty/_Scripts" />

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>