@model Fiverr_Sample.Authentication.Models.ApplicationUser
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/Nifty/_Layout.cshtml";
}

<br />

<link rel="stylesheet" href="~/css/styles.css" type="text/css" />

<div id="placeHolder"></div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3 class="card-title">
                    Create Your @ViewData["Title"]
                </h3>
            </div>

            <div class="col-md-6" style="float: right;">
                <div class="card-tools">
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-block btn-primary" href="@Url.Action("Create")" align="right" style="width:150px;"><i class="fa fa-user-plus" aria-hidden="true"></i> User</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h3 class="card-title">
                    <form id="formNewUser" asp-action="Create" asp-controller="User" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input id="txtFirstName" asp-for="FirstName" type="text" class="form-control" placeholder="First Name" />
                                <span class="text-danger" id="lblErrorFirstName" style="display: none;">This field is mandotary</span>
                                <span id="lblFirstNameInvalidError" class="text-danger" style="display:none;">Please enter valid First Name.</span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="MiddleName" class="control-label"></label>
                                <input id="txtLastName" asp-for="MiddleName" type="text" class="form-control" placeholder="Last Name" />
                                <span class="text-danger" id="lblErrorLastName" style="display: none;">This field is mandotary</span>
                                <span id="lblLastNameInvalidError" class="text-danger" style="display:none;">Please enter valid Last Name.</span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="LastName" class="control-label"></label>
                                <input id="txtEmail" asp-for="LastName" type="text" class="form-control" placeholder="Email" />
                                <span class="text-danger" id="lblErrorEmail" style="display: none;">This field is mandotary.</span>
                                <span class="text-danger" id="lblErrorUserExists" style="display: none;">This email is already exists. Please try another.</span>
                                <span class="text-danger" id="lblErrorUserInvalid" style="display: none;">Please enter valid email.</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="Email" class="control-label"></label>
                                <input id="txtFirstName" asp-for="Email" type="email" class="form-control" placeholder="First Name" />
                                <span class="text-danger" id="lblErrorFirstName" style="display: none;">This field is mandotary</span>
                                <span id="lblFirstNameInvalidError" class="text-danger" style="display:none;">Please enter valid First Name.</span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="NIC" class="control-label"></label>
                                <input id="txtLastName" asp-for="NIC" type="text" class="form-control" placeholder="Last Name" />
                                <span class="text-danger" id="lblErrorLastName" style="display: none;">This field is mandotary</span>
                                <span id="lblLastNameInvalidError" class="text-danger" style="display:none;">Please enter valid Last Name.</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary" asp-action="Create" asp-controller="User">Create</button>
                            </div>
                        </div>
                    </form>
                </h3>
            </div>
        </div>
    </div>

    <br>


    @* <div class="card-body w-auto">
    <div id="alertContainer" class="col-md-12">
    @Html.Raw(TempData["Alert"])
    </div>

    <div id="gridContainer">
    </div>
    </div> *@

</div>

<style>
    div.container {
        max-width: 1200px
    }

    .dx-button {
        height: 20px;
    }

    /*.fa {
                height: 20px;
                margin-top: -5px;
            }*/

    .fa-edit {
        height: 20px;
        width: 5px;
        margin-top: -7px;
    }
</style>


@section scripts{

}

