<!-- FOOTER -->
<footer class="content__boxed mt-auto">
    <div class="content__wrap py-3 py-md-1 d-flex flex-column flex-md-row align-items-md-center">
        <div class="text-nowrap mb-4 mb-md-0">Copyright &copy; 2022 <a target="_blank" href="https://brownsgroup.com/" class="ms-1 btn-link fw-bold">Brown & Company PLC</a></div>
        <div class="text-nowrap mb-4 mb-md-0 col-md-7 text-center mr-5">Powered by Browns - DTS</div>
        <nav class="nav flex-column gap-1 flex-md-row gap-md-3 ms-md-auto" style="row-gap: 0 !important;">
            <a class="nav-link px-0">Version 1.7</a>
        </nav>
    </div>
</footer>
<!-- END - FOOTER -->